body, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-size: 2.0em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

header nav ul a:hover {
    text-decoration: underline;
}

.app {
    color: #001e4d;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    height: calc(100vh - 100px); 
    text-align: center;
}

.quiz h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 30px;
}

.quiz h2 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    padding: 10px;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#answer-buttons .btn {
    margin: 10px 0; 
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%; 
    max-width: 200px; 
    border: 1px solid #222;
    padding: 10px;
    text-align: center; 
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #272a2f;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
